<%= javascript_pack_tag 'index' %>
<div class="container" style="padding-top: 20px;">
    <h1 class="display-7 font-weight-bold" style="color: white;">Akonyan Image DB (β)</h1>
    <hr class="my-4">
    <div class="d-flex flex-wrap" style="margin-left: 5px">
      <% @pictures.each do |picture| %>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem; margin-bottom: 2rem;">
            <%= link_to image_tag(image_url(picture.picture), class: 'card-img-top'), picture, method: :get %>
            <div class="card-body">
              <div class="card-text d-flex justify-content-between align-items-center">
                <div>
                  view: <%= picture.impressions_count %> 
                </div>
                <div>
                  <% if logged_in? %>
                    <%= link_to "削除", picture, method: :delete, data: { confirm: "Are you sure?" } , :style => "color:white; text-decoration:none;", class: 'btn btn-danger' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @pictures %>
    </div>

    <div id="modal01" class="c-modal js-modal">
      <div class="c-modal_bg js-modal-close"></div>
      <div class="c-modal_content _lg">
          <div class="c-modal_content_inner">
              <h4>About producer</h4>
              <hr class="my-2">
              <div>
              Producer：juginon<br>
              Mail：ogijun.mk@hotmail.co.jp<br>
              twitter：<a href="https://twitter.com/juginon_pri">@juginon_pri</a>
              </div>
              <br>
              <h4>Buy me a coffee</h4>
              <hr class="my-2">
              <div>
              twitterのフォロー・サイトの閲覧ありがとうございます。<br>
              サイトの運営を続けていくための支援をしていただけると、とても喜びます。<br>
              Amazonギフトコードによる投げ銭を受け付けております。<br>
              <a href="https://www.amazon.co.jp/Amazon%E3%82%AE%E3%83%95%E3%83%88%E5%88%B8-E%E3%83%A1%E3%83%BC%E3%83%AB%E3%82%BF%E3%82%A4%E3%83%97/dp/BT00DHI8G4">こちらのリンク</a>より¥15以上の金額を指定して送付可能です。<br>
              受取人のメールアドレス欄には ogijun.mk@hotmail.co.jp をご記入ください。<br>
              </div>
              <a class="js-modal-close c-modal_close" href=""><span>Close</span></a>
          </div>
      </div>
    </div>
</div>