<!DOCTYPE html>
<html>
  <head>
    <title>AkonyanDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render :partial => "layouts/google_analytics" %>
  </head>
  <body>
    <div class="full-page">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>